<?xml version="1.0" encoding='UTF-8'?><root>
<gpick type="dynv">
<generate_scheme type="dynv">
<hsv_shift type="float" list="true"><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li></hsv_shift>
<hue type="float">227.8</hue>
<lightness type="float">-37.0753</lightness>
<saturation type="float">79.4579</saturation>
<type type="int32">0</type>
<wheel_locked type="bool">true</wheel_locked>
<wheel_type type="int32">0</wheel_type>
</generate_scheme>
<layout_preview type="dynv">
<css_selectors type="dynv">
<assignments type="dynv">
<item1 type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</item1>
<item10 type="dynv">
<color type="color">0.8 0.8 0.8 1.36346e-42</color>
</item10>
<item10_text type="dynv">
<color type="color">0.2 0.2 0.2 0</color>
</item10_text>
<item11 type="dynv">
<color type="color">0.8 0.8 0.8 4.56767e-41</color>
</item11>
<item11_text type="dynv">
<color type="color">0.2 0.2 0.2 4.56767e-41</color>
</item11_text>
<item12 type="dynv">
<color type="color">0.8 0.8 0.8 4.56767e-41</color>
</item12>
<item12_text type="dynv">
<color type="color">0.2 0.2 0.2 4.56767e-41</color>
</item12_text>
<item1_text type="dynv">
<color type="color">0.2 0.2 0.2 0</color>
</item1_text>
<item2 type="dynv">
<color type="color">0.8 0.8 0.8 3.08047e-41</color>
</item2>
<item2_text type="dynv">
<color type="color">0.2 0.2 0.2 1.36346e-42</color>
</item2_text>
<item3 type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</item3>
<item3_text type="dynv">
<color type="color">0.2 0.2 0.2 2.38221e-44</color>
</item3_text>
<item4 type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</item4>
<item4_text type="dynv">
<color type="color">0.2 0.2 0.2 0</color>
</item4_text>
<item5 type="dynv">
<color type="color">0.8 0.8 0.8 1.12524e-42</color>
</item5>
<item5_text type="dynv">
<color type="color">0.2 0.2 0.2 1.32423e-42</color>
</item5_text>
<item6 type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</item6>
<item6_text type="dynv">
<color type="color">0.2 0.2 0.2 1.33123e-42</color>
</item6_text>
<item7 type="dynv">
<color type="color">0.8 0.8 0.8 1.1911e-43</color>
</item7>
<item7_text type="dynv">
<color type="color">0.2 0.2 0.2 0</color>
</item7_text>
<item8 type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</item8>
<item8_text type="dynv">
<color type="color">0.2 0.2 0.2 8.26766e-44</color>
</item8_text>
<item9 type="dynv">
<color type="color">0.8 0.8 0.8 3.08047e-41</color>
</item9>
<item9_text type="dynv">
<color type="color">0.2 0.2 0.2 8.26766e-44</color>
</item9_text>
<menu_b type="dynv">
<color type="color">0.7 0.7 0.7 4.56767e-41</color>
</menu_b>
<navitem_b type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_b>
<navitem_bh type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_bh>
<navitem_t type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_t>
<navitem_th type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_th>
</assignments>
</css_selectors>
<layout_name type="string">std_layout_grid_1</layout_name>
</layout_preview>
<main type="dynv">
<color_source type="string">generate_scheme</color_source>
<paned_position type="int32">424</paned_position>
<secondary_color_source type="string"></secondary_color_source>
<vertical_paned_position type="int32">0</vertical_paned_position>
<window type="dynv">
<height type="int32">1011</height>
<width type="int32">934</width>
<x type="int32">968</x>
<y type="int32">16</y>
</window>
</main>
<options type="dynv">
<window type="dynv">
<height type="int32">479</height>
<width type="int32">403</width>
</window>
</options>
<picker type="dynv">
<contrast type="dynv">
<color type="color">1 1 1 0</color>
</contrast>
<expander type="dynv">
<cmyk type="bool">false</cmyk>
<hsl type="bool">false</hsl>
<hsv type="bool">false</hsv>
<info type="bool">false</info>
<lab type="bool">false</lab>
<lch type="bool">false</lch>
<rgb type="bool">false</rgb>
<settings type="bool">true</settings>
</expander>
<sampler type="dynv">
<falloff type="int32">0</falloff>
<oversample type="int32">0</oversample>
</sampler>
<swatch type="dynv">
<active_color type="int32">1</active_color>
<color1 type="color">0.142857 0.142857 0.142857 0</color1>
<color2 type="color">0.285714 0.285714 0.285714 0</color2>
<color3 type="color">0.428571 0.428571 0.428571 0</color3>
<color4 type="color">0.571429 0.571429 0.571429 0</color4>
<color5 type="color">0.714286 0.714286 0.714286 0</color5>
<color6 type="color">0.857143 0.857143 0.857143 0</color6>
</swatch>
<zoom type="float">20</zoom>
<zoom_size type="int32">150</zoom_size>
</picker>
<recent type="dynv">
</recent>
<tools type="dynv">
<palette_from_image type="dynv">
<colors type="int32">12</colors>
<current_folder type="string">/home/xilo/pix</current_folder>
<filter type="string">all_images</filter>
<show_preview type="bool">true</show_preview>
<window type="dynv">
<height type="int32">269</height>
<width type="int32">190</width>
</window>
</palette_from_image>
</tools>
</gpick>
</root>
